body{
    font: 15px/1.5 Bahnschrift, Abel;
    margin: 0;
    padding: 0;
}

/* Global Values... */
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.containerAudio{
    width: 90%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.container h1{
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
}

h2, h3, h4, p{
    text-shadow: 1px 1px 1px #000;
}

.dark-bg{
    padding: 15px;
    background-color: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000;
}

.trans-bg{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 120px;
    padding: 15px;
}

.highlight, .current{
    color:  #003381;
}

/* Header... */
header{
    background-color: #11654f;
    color: #f1f1f1;
    min-height: 50px;
    border-bottom:  #003381 5px solid;
}

header #title{
    float: left;
    text-shadow: 1px 2px 5px #000;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 15px;
}

header li{
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}

header a{
    color:  #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1.5px 2px #000;
    transition: 0.25s;
}

header a:hover{
    color: blue;
    font-weight: bold;

}

/* Starter... */
#starter{
    min-height: 300px;
    text-align: center;
    background: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.dca-architects.com%2Fsites%2Fdcaarchitects.dd%2Ffiles%2Fproject%2Fphotos%2Fmapletree-business-city-ii-714-shma-comtech-133-edited.jpg&f=1&nofb=1') no-repeat 60px 0;
    color: #fff;
}

/* Interest... */
#interest{
    min-height: 300px;
    text-align: center; 
}

/* About... */
#about{
    min-height: 300px;
    text-align: center; 
}

/* Info Boxes... */
#info-boxes{
    margin-top: 15px;
}

#info-boxes .info-box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.info-box img{
    height: 125px;
    filter: drop-shadow(1px 1px 0.5px #000);
}

.info-box .start-words{
    color: #af0000;
    font-size: 20px;
}

.info-box a{
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
    color: indigo;
}

.info-box a:hover{
    color: blue;
    text-shadow: 1px 1px 2px #11654f;
}

/* Audio... */
audio{
    width: 450px;
    color: #0000ff;
    transform: scale(1.05);
    text-align: center;
    box-shadow: 1px 2px 3px #000;
    border-radius: 50px;
}

.dark-bt{
    border-bottom: 5px solid coral;
}

/* Aside... */
article#main-col{
    float: left;
    width: 65%;
}

aside#side-col{
    float: right;
    width: 30%;
    filter: drop-shadow(2px 4px 4px #000);
}

aside img{
    height: 250px;
    margin: 10px;
    border: 5px groove #00115f;
    filter: drop-shadow(2px 4px 4px #000);
}

/* Footing... */
footer{
    padding: 1px;
    color: #fff;
    margin-top: 15px;
    background-color:  #003381;
    text-align: center;
    text-shadow: 1px 2px 2px #000;
    font-size: 20px;
}

@media(max-width:900px){
    header #title,
    header nav,
    header nav li,
    #info-boxes .info-box,
    table #tab-main-col,
    article#main-col,
    aside#side-col,
    aside{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #starter, #interest, #about{
        margin: 40px;
    }
}
